/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57>;
            tapping-term-ms = <200>;
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   | BSPC  |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   \   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | GUI  | LALT | SPC  | LOWER  |  | RAISE |ENTER | RAISE | GUI   |

            bindings = <
&kp ESC  &kp N1               &kp N2             &kp N3           &kp N4           &kp N5                         &kp N6         &kp N7            &kp N8            &kp N9              &kp N0                   &kp MINUS
&kp TAB  &kp Q                &kp W              &kp E            &kp R            &kp T                          &kp Y          &kp U             &kp I             &kp O               &kp P                    &kp MINUS
&trans   &HML LEFT_CONTROL A  &HML LEFT_SHIFT S  &HML LEFT_ALT D  &HML LEFT_GUI F  &kp G                          &kp H          &HMR RIGHT_GUI J  &HMR RIGHT_ALT K  &HMR RIGHT_SHIFT L  &HMR RIGHT_CONTROL SEMI  &kp SQT
&trans   &kp Z                &kp X              &kp C            &kp V            &kp B   &kp LBKT     &kp RBKT  &kp N          &kp M             &kp COMMA         &kp DOT             &kp FSLH                 &kp EQUAL
                                                 &tog 1           &trans           &mo 3   &kp SPACE    &trans    &kp BACKSPACE  &kp RET           &tog 2
            >;
        };

        canary {
            // ------------------------------------------------------------------------------------------------------------
            // |  F12  |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |   F10 |  F11  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  7   |  8    |  9    |  -   |   =   |   `   |
            // |       |     |     |      |      |      |                   |  4   |  5    |  6    |  [   |   ]   |   \   |
            // |       |     |     |      |      |      |        |  |       |  1   |  2    |  3    |      |       |       |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp ESC  &kp N1               &kp N2             &kp N3           &kp N4           &kp N5                         &kp N6         &kp N7            &kp N8            &kp N9              &kp N0                &kp GRAVE
&kp TAB  &kp W                &kp L              &kp Y            &kp P            &kp B                          &kp Z          &kp F             &kp O             &kp U               &kp APOS              &kp MINUS
&trans   &HML LEFT_CONTROL C  &HML LEFT_SHIFT R  &HML LEFT_ALT S  &HML LEFT_GUI T  &kp G                          &kp M          &HMR RIGHT_GUI N  &HMR RIGHT_ALT E  &HMR RIGHT_SHIFT I  &HMR RIGHT_CONTROL A  &kp SEMI
&trans   &kp Q                &kp J              &kp V            &kp D            &kp K   &kp LBKT     &kp RBKT  &kp X          &kp H             &kp FSLH          &kp COMMA           &kp DOT               &kp EQUAL
                                                 &tog 0           &trans           &mo 3   &kp SPACE    &trans    &kp BACKSPACE  &kp RET           &trans
            >;
        };

        gaming {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                          &kp N6    &kp N7     &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E     &kp R     &kp T                           &kp Y     &kp U      &kp I      &kp O    &kp P     &kp MINUS
&kp LSHFT  &kp A   &kp S   &kp D     &kp F     &kp G                           &kp H     &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z   &kp X   &kp C     &kp V     &kp B   &kp LBKT     &kp RBKT   &kp N     &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp EQUAL
                           &kp LALT  &kp LGUI  &mo 3   &kp SPACE    &kp SPACE  &kp BSPC  &kp ENTER  &trans
            >;
        };

        nav {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  <-  |   v   |  ^    |  ->  |       |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans    &kp F1    &kp F2          &kp F3     &kp F4  &kp F5                      &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&kp CAPS  &trans    &kp UP_ARROW    &trans     &trans  &trans                      &trans  &trans  &trans  &trans  &trans   &trans
&trans    &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &trans  &trans                      &trans  &trans  &trans  &trans  &trans   &trans
&trans    &trans    &trans          &trans     &trans  &trans  &kp F11    &kp F12  &trans  &trans  &trans  &trans  &trans   &trans
                                    &to 0      &to 1   &trans  &trans     &trans   &trans  &trans  &trans
            >;
        };
    };
};
